<div class=" shadow-md rounded-md my-2">
    <div class="bg-gray-100 p-4 flex justify-between "
        [class]="opened ? 'rounded-tl-md rounded-tr-md':'rounded-md'">
        <span class="font-medium cursor-pointer" (click)="toggle()">ID: {{equipamento.id}}</span>
        <div class="flex items-center">
            <div [ngClass]="{'mr-2' : ocultarAcoes}" class="h-5 w-5 transform hover:text-green-400 hover:scale-110 cursor-pointer" [routerLink]="['/equipamentos',equipamento.id]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
            </div>
            <div class="h-5 w-5 mx-2 transform hover:text-green-400 hover:scale-110 cursor-pointer" (click)="delete(equipamento.id)" *ngIf="!ocultarAcoes" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
            </div>
            <div (click)="toggle()" class="transform hover:text-green-400 hover:scale-110 h-6 w-6 transition-all ease-in-out duration-500 cursor-pointer" [class]="!opened ? 'rotate-180':'text-green-400'">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </div>
        </div>
    </div>
    <div class="transition-all ease-in-out duration-500 overflow-hidden max-h-0"
        [class]="opened ? 'max-h-96':''">
        <div class="flex justify-between px-4 py-2 border-b border-gray-200">
            <span class="font-medium">Nome</span>
            <span>{{equipamento.nome}}</span>
        </div>
        <div class="flex justify-between px-4 py-2 border-b border-gray-200">
            <span class="font-medium">Nº Serie</span>
            <span>{{equipamento.numero_serie}}</span>
        </div>
        <div class="flex justify-between px-4 py-2 border-b border-gray-200">
            <span class="font-medium">Tipo</span>
            <span>{{equipamento.tipo.tipo}}</span>
        </div>
        <div class="flex justify-between px-4 py-2 border-b border-gray-200">
            <span class="font-medium">Criado em</span>
            <span>{{ equipamento.creat_at| date: 'dd/MM/YYYY - h:mm'}}</span>
        </div>
    </div>
</div>
