<div class="flex flex-col">
    <h3 class="my-4 text-xl font-medium tracking-wider">Alarmes mais autuados</h3>

    <div class="md:flex max-w-lg m-2 shadow-lg hover:shadow-xl cursor-pointer rounded-md">
      <div class="bg-red-400 p-4 rounded-tl-md md:rounded-bl-md rounded-tr-md md:rounded-tr-none">
        <span class="text-3xl font-bold text-white">1º</span>
      </div>
      <div class="ml-4 p-2">
        <div class="font-bold">Alarme 1</div>
        <div class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus animi possimus quo.</div>
        <div class="grid grid-cols-3 gap-x-4 my-2">
          <span class="bg-red-500 text-center p-0.5 rounded-md text-white text-sm font-bold">Alto</span>
          <span class="text-center p-0.5 rounded-md text-sm font-bold">Médio</span>
          <span class="text-center p-0.5 rounded-md text-sm font-bold">Baixo</span>
        </div>
        <div class="text-sm text-gray-400 flex justify-between">
          <span>Equipamento tal</span>
          <span>26 set. 2021</span>
        </div>
      </div>
    </div>

    <div class="md:flex max-w-lg md:ml-12 m-2 shadow-lg hover:shadow-xl cursor-pointer rounded-md">
      <div class="bg-yellow-400 p-4 rounded-tl-md md:rounded-bl-md rounded-tr-md md:rounded-tr-none">
        <span class="text-3xl font-bold text-white">2º</span>
      </div>
      <div class="ml-4 p-2">
        <div class="font-bold">Alarme 2</div>
        <div class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus animi possimus quo.</div>
        <div class="grid grid-cols-3 gap-x-4 my-2">
          <span class="text-center p-0.5 rounded-md text-sm font-bold">Alto</span>
          <span class="text-center p-0.5 rounded-md text-sm font-bold bg-yellow-500 text-white">Médio</span>
          <span class="text-center p-0.5 rounded-md text-sm font-bold">Baixo</span>
        </div>
        <div class="text-sm text-gray-400 flex justify-between">
          <span>Equipamento tal</span>
          <span>26 set. 2021</span>
        </div>
      </div>
    </div>

    <div class="md:flex max-w-lg md:ml-24 m-2 shadow-lg hover:shadow-xl cursor-pointer rounded-md">
      <div class="bg-green-400 p-4 rounded-tl-md md:rounded-bl-md rounded-tr-md md:rounded-tr-none">
        <span class="text-3xl font-bold text-white">3º</span>
      </div>
      <div class="ml-4 p-2">
        <div class="font-bold">Alarme 1</div>
        <div class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus animi possimus quo.</div>
        <div class="grid grid-cols-3 gap-x-4 my-2">
          <span class="text-center p-0.5 rounded-md text-sm font-bold">Alto</span>
          <span class="text-center p-0.5 rounded-md text-sm font-bold">Médio</span>
          <span class="text-center p-0.5 rounded-md text-sm font-bold bg-green-500 text-white">Baixo</span>
        </div>
        <div class="text-sm text-gray-400 flex justify-between">
          <span>Equipamento tal</span>
          <span>26 set. 2021</span>
        </div>
      </div>
    </div>
  </div>